header {
  position: fixed;
  top: 0;
  left: 30;
  right: 0;
  z-index: 100;
  width: 85%;
}.flex > aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 290px;
}.flex > main {
  margin-top:   7%;
  margin-left: 15.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0eded;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
}

body::-webkit-scrollbar {
  display: none;
}

.card:hover {
  opacity: 0.7;
}

.primary-color {
  background-color: #faba25;
  color: black;
}

.secondary-color {
  background-color: #001ee0;
  color: white;
}

.tertiary-color {
  background-color: #ffee0c;
  color: black;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  }

.data-table {
  border-collapse: collapse;
  margin-top: 60px;
  border-radius: 6px;
  overflow: hidden; /* Penting untuk border-radius */
  table-layout: auto; /* Hapus atau sesuaikan jika diperlukan */
}.table-header {
  background-color: #1531e4dc; /* Contoh warna header */
  color: #dfdfdf; /* Contoh warna teks header */
  text-align: center;
  padding: 15px;
  border: 1px solid #ddd;
}.table-cell {
  text-align: center;
  padding: 15px;
  border: 1px solid #ddd;
}.data-table tr.even {
  background-color: #f2f2f2; /* Warna latar belakang baris genap */
}.data-table tr.odd {
  background-color: white; /* Warna latar belakang baris ganjil */
}.data-table tr:hover {
  background-color: #ddd; /* Hover effect */
}

.map-input-container {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Vertically align items */
  /* If you want to control the overall width of the entire input + icon */
  /* width: 300px;  */
}

.map-input-container .input-group {
  width: 100%; /* Let the input group take up its natural width */
  flex: 1; /* Allow the input to grow to fill available space */
}

.map-input-container .input-group-append {
  margin-left: -1px; /* Adjust spacing between input and icon */
}

.map-input-container .input-group-text {
/* Some Bootstrap versions add padding that might make it look off */
padding: 0.375rem 0.75rem; /* Adjust as needed */
}